  <nav>
  <div>
    <img src="/img/logo.jpg" alt="logo" style: width="150px"; height="100px">

    <div >
      <ul>
        <b>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/edit">Edit</a>
          </li>
        </b>
      </ul>
    </div>
  </div>
</nav>